TOKEN=YOUR-BOT-TOKEN
DATABASE_URL=YOUR-DATABASE-URL
DEFAULT_TOKEN_QUANTITY=TOKEN-COUNT-FOR-USER-AT-START
DATABASE_HOST=YOUR-DATABASE-SERVER-HOST
DATABASE_PORT=YOUR-DATABASE-SERVER-PORT
DATABASE_USERNAME=YOUR-USERNAME
DATABASE_PASSWORD=YOUR-PASSWORD
DATABASE_NAME=YOUR-DATABASE-NAME
GOOGLE_API_KEY=YOUR-GOOGKE-KEY-AI
GOOGLE_MODEL=YOUR-GOOGLE-MODEL
DOCKER_SUPERUSER_PASSWORD=PASSWORD-DOCKER-MYSQL-SERVICE
REDIS_PASSWORD=YOUR-REDIS-SERVER-PASSWORD
REDIS_HOST=YOUR-REDIS-SERVER-HOST
REDIS_PORT=YOUR-REDIS-SERVER-PORT
PAYMENT_SYSTEM=YOUR-PAYMENT-SYSTEM